html {
		height: 100%;
}

body {
		margin: 0;
		height: 100%;
		padding: 0;
		background-color: black;
}

*.unselectable {
		-moz-user-select: -moz-none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

#root {
		height: 100%;
}

* {
		box-sizing: border-box;
		font-family: 'Bitter';
		color: white;
}